#order {
  margin-left: 50px;
  width: 75%;
  height: 100%;
  padding: 20px 0;
}

#order > :nth-child(2) {
  font-size: 24px;
}

#order_card_container {
  width: 100%;
  max-height: 200px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1%;
  margin-top: 35px;
}

#order_card {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 0px 5px 1px rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 32px;
  margin-bottom: 30px;
}

#order_card_detail {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 1px solid #ddd;
}

#order_figure {
  width: 70px;
}

#order_figure > img {
  width: 100%;
  max-height: 100%;
}

#delivered_card {
  background: #08b727;
  text-align: center;
  color: #fff;
}

.delivered_card {
  background: #f07b4e;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

#order_detail_text {
  width: 75%;
  margin-left: 28px;
}

#order_detail_text > :nth-child(1) {
  font-size: 18px;
  line-height: 135%;
  font-weight: 600;
}

#order_detail_text > :nth-child(2) {
  padding: 8px 0;
  font-weight: 600;
  color: #686868;
}

#order_detail_text > :nth-child(3) {
  font-size: 14px;
  color: #ed165f;
}

#order_detail_text > :nth-child(4) {
  font-size: 14px;
  padding: 8px 0;
}

#order_detail_text > :nth-child(5) {
  width: 100%;
  font-size: 15px;
}

#payment_details {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 28px;
  border-right: 1px solid #ddd;
}

#payment_details > :nth-child(1) {
  font-weight: 600;
  color: #000;
  font-size: 16px;
  padding-bottom: 10px;
}

#payment_details > p {
  color: #686868;
  font-size: 14px;
}

#payment_details > :nth-child(3) {
  padding: 5px 0;
}

#order_delivery_method {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 28px;
}

#order_delivery_method > :nth-child(1) {
  font-weight: 600;
}

#order_delivery_method > :nth-child(2) {
  font-size: 12px;
  color: #686868;
  padding-top: 5px;
}

#order_delivery_method > :nth-child(3) {
  font-weight: 600;
  padding-top: 20px;
}

#order_delivery_method > :nth-child(4) {
  font-size: 12px;
  color: #686868;
  padding-top: 5px;
  text-transform: capitalize;
}

#delivered_btn {
  background: none;
  border: none;
}

#order_btns {
  margin-top: 50px;
}

#order_btns > button {
  background: none;
  border: 1px solid #ed165f;
  padding: 12px 20px;
  border-radius: 5px;
  margin-right: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.5px;
  transition: all 0.2s ease-in-out;
}

#order_btns > button:hover {
  background: #ed165f;
  color: #fff;
}

#order_delivery_container {
  width: 100%;
  max-height: 200px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1%;
  margin-top: 35px;
}

#no_order {
  font-size: 30px;
  font-weight: 600;
}

@media (max-width: 850px) {
  #order {
    margin-left: 0;
    width: 100%;
    padding: 20px;
  }

  #order > :nth-child(2) {
    font-size: 22px;
  }

  #order_card_container {
    max-height: 250px;
    margin-top: 30px;
  }

  #order_card_detail {
    width: 100%;
  }

  #order_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  #order_detail_text {
    margin-left: 20px;
  }

  #order_detail_text > :nth-child(1) {
    font-size: 14px;
  }

  #order_detail_text > :nth-child(3) {
    font-size: 10px;
  }

  #order_detail_text > :nth-child(4) {
    font-size: 10px;
  }

  #order_detail_text > :nth-child(5) {
    font-size: 10px;
  }

  #payment_details > :nth-child(1) {
    font-size: 16px;
  }

  #payment_details > p {
    font-size: 14px;
  }

  #order_delivery_method {
    margin-left: 28px;
  }

  #order_delivery_method > :nth-child(1) {
    font-weight: 600;
    font-size: 12px;
  }

  #order_delivery_method > :nth-child(2) {
    font-size: 12px;
  }

  #order_delivery_method > :nth-child(3) {
    font-size: 12px;
    padding-top: 10px;
  }

  #order_delivery_method > :nth-child(4) {
    font-size: 10px;
  }

  #order_btns {
    margin-top: 30px;
  }

  #order_btns > button {
    padding: 10px 15px;
    font-size: 14px;
  }

  #order_delivery_container {
    max-height: 200px;
    margin-top: 30px;
  }

  #no_order {
    font-size: 24px;
  }
}

@media (max-width: 550px) {
  #order {
    padding: 20px;
  }

  #order > :nth-child(2) {
    font-size: 18px;
  }

  #order_card_container {
    max-height: 250px;
    margin-top: 30px;
  }

  #order_card {
    margin-bottom: 30px;
  }

  #order_detail_text {
    width: 100%;
    margin-left: 14px;
  }

  #order_detail_text > :nth-child(1) {
    font-size: 10px;
  }

  #order_detail_text > :nth-child(3) {
    font-size: 6px;
  }

  #order_detail_text > :nth-child(4) {
    font-size: 6px;
  }

  #order_detail_text > :nth-child(5) {
    font-size: 6px;
  }

  #payment_details {
    margin-top: 20px;
    width: 100%;
  }

  #payment_details > :nth-child(1) {
    font-size: 12px;
  }

  #payment_details > p {
    font-size: 10px;
  }

  #order_delivery_method {
    margin-top: 20px;
    width: 100%;
    margin-left: 25px;
  }

  #order_delivery_method > :nth-child(1) {
    font-size: 8px;
  }

  #order_delivery_method > :nth-child(2) {
    font-size: 8px;
  }

  #order_delivery_method > :nth-child(3) {
    font-size: 8px;
    padding-top: 6px;
  }

  #order_delivery_method > :nth-child(4) {
    font-size: 6px;
  }

  #order_btns {
    margin-top: 20px;
  }

  #order_btns > button {
    padding: 10px 15px;
    font-size: 10px;
  }

  #order_delivery_container {
    margin-top: 20px;
  }

  #no_order {
    font-size: 20px;
  }
}
